<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Job Details</title>
    <link rel="stylesheet" href="../ourstyles.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="logo-container">
                <img class="logo" src="../Images/logo.png" alt="Logo">
            </a>
            <ul class="nav-links">
                <li><a href="./MainPage.html">Search</a></li>
                <li><a href =".YourListings.html">Activity</a></li>
                <li><a href="./Profile.html">Profile</a></li>
            </ul>
        </div>
    </nav>

    <div class="slideshow-container">
        <!-- Slides go here -->
    </div>

    <div class="job-description-container">
        <h2>Job Description</h2>
        <p id="job-description"></p>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../job.js"></script>
</body>
</html>
